# IDE & OS files
.idea
nbproject
.buildpath
.project
.settings
*.sublime-project
*.sublime-workspace
Thumbs.db
.DS_Store

# composer vendor dir
/vendor

# composer itself is not needed
composer.phar
composer.lock

# PHPUnit
/phpunit.phar
/phpunit.xml
/.phpunit.cache
